# Dependencies
backend/.deps/
backend/.venv/
frontend/node_modules/

# Build output
frontend/dist/assets/*.map

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
